* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 768px){
html, body {
    font-size: 95%;
}
}

body {
    background: #18181A;
    font-size: 1rem;
    line-height: 1.5;
    font-family: cursive;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1em;
    height: 4.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px;
    border: 2px solid rgb(31, 31, 33);
    background:  rgb(24, 24, 26);
}

header img {
    width: 132px;
    height: 32px;
}
main {
    padding: 12em 0 3em;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em 6em;
}

h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    font-weight: 600;
}

p {
    color: #d8d8d899;
}

.cardsWrapper {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1215px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
}

.card {
    flex: 1;
    min-width: 19rem;
    max-width: 20.5rem;
    background: #111;
    min-height: 11.437rem;
    text-decoration: none;
    transition: all .25s ease-in-out;
    padding: 2em;
    border-radius: 12px;
    border: 3px solid rgb(61, 186, 85);
}

.card:hover {
    box-shadow: 5px 5px 0  rgb(61, 186, 85);
}

.card div {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
}

.card h2 {
    color: #d8d8d8;
    font-weight: 400;
}

.card:nth-child(2) {
    border-color: rgb(230, 186, 0);
}

.card:nth-child(2):hover {
    box-shadow: 5px 5px 0 rgb(230, 186, 0);
}

.card:nth-child(3) {
    border-color: rgb(79, 33, 234);
}

.card:nth-child(3):hover {
    box-shadow: 5px 5px 0 rgb(79, 33, 234);
}

.card:nth-child(4) {
    border-color: rgb(186, 95, 61);
}

.card:nth-child(4):hover {
    box-shadow: 5px 5px 0  rgb(186, 95, 61);
}

footer {
    padding: 2em 1em;
    border-top: 1px solid #353638;
}

footer p {
    color: #5B5B5B;
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
    align-items: center;
}

footer a {
    display: inline-block;
    color: #5B5B5B;
}

footer a:hover {
    text-decoration: none;
}