/* CSS styles for the Header components*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
}

.navbar-logo {
    height: 6rem;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--grey);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.search-bar:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 12%);
    transition: all 0.2s;
    cursor: pointer;
}

.search-bar-text {
    font-size: .95rem;
    font-weight: 600;
    border-right: 1px solid var(--grey);
    padding-right: 0.5rem;
}

.search-bar-text3 {
    color: var(--font-grey);
}

.search-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white);
}

.profile-container {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.aishub-your-home {
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
}

.aishub-your-home:hover {
    background-color: rgba(227, 227, 227, 0.5);
}

.profile-menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: var(--font-grey);
    border: 1px solid var(--grey);
    border-radius: 2rem;
    padding: 0.9rem 1.3rem;
    cursor: pointer;
    margin-top: 1px;
}

.menu-items {
    padding: 0.7rem 1rem !important;
    font-size: 0.95rem !important;
}

.profile-container div:nth-child(2) {
    margin-top: 0.2rem;
    padding-top: 0.75rem;
}